/* src/app/task-form/task-form.component.scss */
.task-form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px; /* Adjust as needed */
}

mat-form-field {
  width: 100%;
}

mat-chip-grid {
  margin-top: 10px;
}
mat-option {
  background-color: white !important; /* Ensure options have a white background */
  color: black !important; /* Ensure options have black text */
  &:hover {
    background-color: #f0f0f0 !important; /* Lighter background on hover */
  }
}